<%= link_to new_project_path, class: 'button button-wide teal' do %>
  New Project
<% end %>

<br>

<h2>Incomplete</h2>

<div class="project-list">
  <% @projects.incomplete.each do |project| %>
    <%= render 'project', project: project %>
  <% end %>
</div>

<hr>

<h2>Complete</h2>

<div class="project-list">
  <% @projects.complete.each do |project| %>
    <%= render 'project', project: project %>
  <% end %>
</div>
