<%= link_to new_project_path, class: 'btn btn-primary btn-block' do %>
  New Project
<% end %>

<br>

<div class="link-list">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <%= project.name %>

      <% if project.due_date %>
        <span class="badge badge-warning"><%= time_ago_in_words project.due_date %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
