<%= link_to 'New Category', new_todo_category_path, class: 'button button-wide' %>

<br>

<div class="link-list">
  <% @todo_categories.each do |category| %>
    <%= link_to todo_category_path(category.id), class: 'todo-category' do %>
      <%= category.name %>
      <%= todo_category_todos_count(category) %>
    <% end %>
  <% end %>
</div>
