<% content_for :js do %>
  <script type="text/javascript">
    window.todo = <%= todo.to_json.html_safe %>
    window.projectOptions = <%= Project.select(:name, :id).to_json.html_safe %>
  </script>
<% end %>

<div id="outlet"></div>

<hr>

<% unless @todo.new_record? %>
  <%= button_to 'Delete Todo', todo_path(@todo), class: 'button button-wide red', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
