<%= link_to new_todo_path, class: 'button button-wide' do %>
  New Todo
<% end %>

<br>

<% @dates.each do |date, todos| %>
  <div style="text-align: center; font-weight: bold; margin-top: 1em">
    <% if date %>
      <% if date == Date.current %>
        Today
      <% else %>
        <%= l date %>
      <% end %>
    <% else %>
      [No Date]
    <% end %>
  </div>

  <%= render 'todos_list', todos: todos %>
<% end %>
