<%= link_to new_todo_path, class: 'button accent4 button-wide' do %>
  New Todo
<% end %>

<br>

<% @dates.each do |date, todos| %>
  <div class="link-list-group">
    <div class="link-list-group-title">
      <% if date %>
        <% if date == Date.current %>
          Today
        <% else %>
          <%= l date %>
        <% end %>
      <% else %>
        No Due Date
      <% end %>
    </div>
  </div>

  <%= render 'todos_list', todos: todos %>
<% end %>
