.actions {
  display: flex;

  > .actions-primary {
    display: block;
    flex-grow: 1;
  }

  > .actions-secondary {
  }
}

.two-column {
  display: flex;
  justify-content: space-between;
  align-items: center
}
