.alert {
  background-color: var(--accent4);
  border: 1px solid var(--accent4);
  color: var(--shade1);
  padding: 0.5em 1em;
  margin-bottom: 1em;

  a,
  a:hover,
  a:active,
  a:visited {
    color: var(--shade1);
  }
}

main > .alert {
  margin: -1em -1em 1em;
}
