// Error, VCS Deletion
.button.red {
  color: var(--background);
  background-color: var(--red);
}

// Syntax
.button.orange {
  color: var(--background);
  background-color: var(--orange);
}

// Warning, VCS Modification
.button.yellow {
  color: var(--background);
  background-color: var(--yellow);
}

// Success, VCS Addition
.button.green {
  color: var(--background);
  background-color: var(--green);
}

// Syntax
.button.teal {
  color: var(--background);
  background-color: var(--teal);
}

// Syntax
.button.blue {
  color: var(--background);
  background-color: var(--blue);
}

// Syntax, Caret/Cursor
.button.purple {
  color: var(--background);
  background-color: var(--purple);
}

// Syntax, Special
.button.brown {
  color: var(--background);
  background-color: var(--brown);
}

// Syntax, Gray
.button.gray {
  color: var(--background);
  background-color: var(--gray);
}

button.button,
input.button[type="submit"],
a.button {
  border-width: 0;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 100%;
  white-space: nowrap;
  display: inline-block;
}

.button.button-wide {
  display: block;
  width: 100%;
}

// Reset styling on ios
button,
input[type="submit"],
input[type="date"],
select {
  -webkit-appearance: none;
}
