// Error, VCS Deletion
.button.accent0 {
  color: var(--shade1);
  background-color: var(--accent0);
}

// Syntax
.button.accent1 {
  color: var(--shade1);
  background-color: var(--accent1);
}

// Warning, VCS Modification
.button.accent2 {
  color: var(--shade1);
  background-color: var(--accent2);
}

// Success, VCS Addition
.button.accent3 {
  color: var(--shade1);
  background-color: var(--accent3);
}

// Syntax
.button.accent4 {
  color: var(--shade1);
  background-color: var(--accent4);
}

// Syntax
.button.accent5 {
  color: var(--shade1);
  background-color: var(--accent5);
}

// Syntax, Caret/Cursor
.button.accent6 {
  color: var(--shade1);
  background-color: var(--accent6);
}

// Syntax, Special
.button.accent7 {
  color: var(--shade1);
  background-color: var(--accent7);
}

button.button,
input.button[type="submit"],
a.button {
  border-width: 0;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 100%;
  white-space: nowrap;
  display: inline-block;
}

.button.button-wide {
  display: block;
  width: 100%;
}

// Reset styling on ios
button,
input[type="submit"],
input[type="date"],
select {
  -webkit-appearance: none;
}
