:root {
  --red: #C65967;
  --orange: #D3873B;
  --yellow: #E5BE31;
  --green: #97B55A;
  --teal: #76A377;
  --blue: #6484B5;
  --purple: #995785;
  --brown: #AC7155;
  --foreground: black;
  --background: white;
  --inputBackground: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: lightgray;
    --background: black;
    --inputBackground: darkslategray;
  }
}
