.complete-toggle {
  display: block;
  text-decoration: none;
  padding: 0.75em 1em;
  color: var(--background);
}

.complete-toggle,
.complete-toggle:hover,
.complete-toggle:visited,
.complete-toggle:active {
  background-color: transparent;
  border: none;
  color: var(--background);
  text-decoration: none;
}
