.input {
  margin: 0 0 .5em;
}

input[type="text"],
input[type="search"],
input[type="select"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
textarea {
  display: block;
  padding: .5em;
  border-width: 0;
  width: 100%;
  background: var(--shade2);
  border-radius: 5px;
  font-size: 100%;
  color: var(--shade0);
}

select {
  line-height: normal;
  position: relative;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  appearance: none;
}

label {
  display: block;
}

label > abbr[title="required"] {
  display: none
}
