.input {
  margin: 0 0 .5em;
}

input.string,
input.date,
input.password,
select.select,
textarea.text {
  display: block;
  padding: .5em;
  border-width: 0;
  width: 100%;
  background: var(--shade2);
  border-radius: 5px;
  font-size: 100%;
  color: var(--shade0);
}

select.select {
  line-height: normal;
  position: relative;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  appearance: none;
}

label.string,
label.text {
  display: block;
}

label.string,
label.text,
label.email,
label.select {
  abbr[title="required"] {
    display: none
  }
}
