html, body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#outlet {
  display: flex;
  flex-direction: column;

  > header {
    padding: 0 1em;
    background-color: var(--background);
  }

  > main {
    padding: 1em;
    background-color: var(--background);
  }

  > footer {
    padding: 1em;
    flex-grow: 1;
    background-color: var(--background);
  }
}

a {
  color: var(--blue);
}

* {
  box-sizing: border-box;
}

.no-wrap {
  white-space: nowrap;
}

hr {
  height: 2em;
  border-width: 0;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.teal {
  color: var(--teal);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.brown {
  color: var(--brown);
}
