html, body {
  height: 100%;
  background-color: var(--shade0);
  color: var(--shade0);
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  > header {
    padding: 0 1em;
    background-color: var(--shade1);
  }

  > main {
    padding: 1em;
    background-color: var(--shade1);
  }

  > footer {
    padding: 1em;
    flex-grow: 1;
    background-color: var(--shade1);
  }
}

a {
  color: var(--accent5);
}

* {
  box-sizing: border-box;
}

.no-wrap {
  white-space: nowrap;
}

hr {
  height: 2em;
  border-width: 0;
}

.accent0 {
  color: var(--accent0);
}

.accent1 {
  color: var(--accent1);
}

.accent2 {
  color: var(--accent2);
}

.accent3 {
  color: var(--accent3);
}

.accent4 {
  color: var(--accent4);
}

.accent5 {
  color: var(--accent5);
}

.accent6 {
  color: var(--accent6);
}

.accent7 {
  color: var(--accent7);
}
