nav {
  display: flex;
  align-items: stretch;
  margin: 0 -1em;
  background-color: var(--foreground);

  *:last-child {
    margin-left: 0;
  }

  *.active {
    background-color: var(--background);
    color: var(--foreground);
  }

  > a {
    text-decoration: none;
    display: block;
    padding: 0.75em 1em;
    color: var(--background);
    line-height: 100%;
  }

  > a:hover {
    text-decoration: none;
  }
}

.navigation-header {
  display: flex;

  :first-child {
    flex-grow: 1;
  }
}

.navigate-back {
  border-bottom: 0.125em solid var(--inputBackground);
  margin: -1em -1em 1em;

  > a {
    display: block;
    padding: 0.75em 1em;
  }

  > a,
  > a:active,
  > a:hover,
  > a:visited {
    color: var(--foreground);
    text-decoration: none;
  }
}
