nav {
  display: flex;
  align-items: stretch;
  margin: 0 -1em;
  background-color: var(--accent1);

  *:last-child {
    margin-left: 0;
  }

  *.active {
    background-color: var(--shade1);
    color: var(--accent1);
  }

  > a {
    text-decoration: none;
    display: block;
    padding: 0.75em;
    color: var(--shade1);
    line-height: 100%;
  }

  > a:hover {
    text-decoration: none;
  }
}
