.pika-single {
  background-color: var(--shade2);
  box-shadow: 0 0 0.5em var(--shade0);
  border-radius: 0.25em;
  padding: 0.5em;

  button {
    background-color: var(--accent0);
    border: none;
    border-radius: 0.25em;
    color: var(--shade1);
    cursor: pointer;
    padding: 0.5em;
  }

  tr.pika-row {
    td {
      text-align: center;

      button.pika-button {
        background-color: transparent;
        border-radius: 1.5em;
        color: var(--shade0);
        height: 3em;
        width: 3em;
      }
    }

    td.is-selected {
      button.pika-button {
        background-color: var(--accent0);
        color: var(--shade1);
      }
    }
  }

  &.is-hidden {
    display: none;
  }
}
