.project-list {
  margin: 0 -1em;

  > a.project {
    align-items: center;
    border-top: 1px solid var(--inputBackground);
    color: var(--foreground);
    display: flex;
    text-decoration: none;
    padding: 0.75em 1em;

    .name {
      flex-grow: 1;
    }

    .due-date {
      white-space: nowrap;
    }
  }

  > .project:last-child {
    border-bottom: 1px solid var(--inputBackground);
  }
}
