.project-list {
  margin: 0 -1em;

  > .project {
    display: flex;
    border-top: 1px solid var(--inputBackground);

    .name-and-progress {
      flex-grow: 1;
      display: block;
      padding: 0.75em 1em 0.75em 0;
      text-decoration: none;
      color: var(--foreground);
      display: flex;

      .name {
        flex-grow: 1;
      }
    }
  }

  > .project:last-child {
    border-bottom: 1px solid var(--inputBackground);
  }
}
