.todo-list {
  border-collapse: collapse;

  h3 {
    margin-top: 0.75em;
  }

  > .todo {
    display: flex;
    border-top: 1px solid var(--inputBackground);
    margin: 0 -1em;

    a.name {
      padding: 0.75em 1em 0.75em 0;
      flex-grow: 1;
      text-decoration: none;
      color: var(--foreground);
    }

    .due-on {
      padding: 0.75em 1em;
    }
  }

  > .todo:last-child {
    border-bottom: 1px solid var(--inputBackground);
  }

  > .todo.late a.name {
    color: var(--red);
    border-color: var(--red);
  }
}

.todo-list-heading {
  font-weight: bold;
  padding: 1em 0 0.5em;
  display: flex;

  h3 {
    flex-grow: 1;
  }
}
