.todo-list {
  border-collapse: collapse;

  > .todo {
    display: flex;
    border-top: 1px solid var(--shade2);
    margin: 0 -1em;

    a.name {
      padding: 0.75em 1em 0.75em 0;
      flex-grow: 1;
      text-decoration: none;
      color: var(--shade0);
    }
  }

  > .todo:last-child {
    border-bottom: 1px solid var(--shade2);
  }

  > .todo.late a.name {
    color: var(--accent0);
    border-color: var(--accent0);
  }
}

.todo-list-group-title {
  text-align: center;
  font-weight: bold;
  padding: 1em 0.75em 0.5em;
}
