<div class="link-list">
  <% todos.each do |todo| %>
    <%= link_to todo_path(todo), class: 'todo' do %>
      <%= complete_icon_for(todo) %>
      <%= todo.name %>
      <%= todo_priority(todo) %>
    <% end %>
  <% end %>
</div>
