<% if @todos.any? %>
  <p>Tasks due today:</p>

  <%= render 'todos_list', todos: @todos %>
<% else %>
  <p>You have nothing due today.</p>
<% end %>

<% if @late_todos.any? %>
  <p>Overdue tasks:</p>

  <%= render 'todos_list', todos: @late_todos %>
<% end %>

<p>Have a productive day!</p>
